<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bitcoinEntities" connectionString="metadata=res://*/Assets.Scripts.BitCoinDatabase.csdl|res://*/Assets.Scripts.BitCoinDatabase.ssdl|res://*/Assets.Scripts.BitCoinDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITB00181\NTSQLSERVER;initial catalog=bitcoin;persist security info=True;user id=yanbrandao;password=yan123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>